body{
	font-family: 'Lato', sans-serif;

}


.header{
	background: white;
	min-height: 1px;
	overflow: hidden;
}





.main-logo img{
	width: 200px;
	position: relative; 
	top: 15px;
	display: block; 
	float: right;
	margin-left:20px;
}

.contact-balk{
	background: $secondary-color;
	min-height: 1px;
}

.contact-balk .contact-info{

	

	span{
		color: $main-color;
		position: relative;
		right: 10px;
		
	}
}




.banner{
	
	overflow: hidden;
	height: 450px;
	position: relative;
	
	img{

		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: -10;

	}

}

/* images */

.google-maps-contact-foto{
	max-height:350px;
}

.aanmelden-foto{
	max-height: 350px;

	
}


.rectangular-img{
	height: 140px;
	padding: 20px;


	img{
		height: 90%;
		width: auto;
	}

}


/* overlay */

.overlay-resultaten{
	min-height: 300px;
	min-width: 1000px;
	top: 310px;

}


.cd-slider-nav ul{
	list-style: none;
}

.cd-hero-slider li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);

}
.cd-hero-slider li.selected {
  /* this is the visible slide */
  position: relative;
  transform: translateX(0);
}
.cd-hero-slider li.move-left {
  /* slide hidden on the left */
  transform: translateX(-100%);
}
.cd-hero-slider li.is-moving, .cd-hero-slider li.selected {
  /* the is-moving class is assigned to the slide which is moving outside the viewport */
  transition: transform 0.5s;
}



@media only screen and (min-width: 768px) {
  .cd-hero-slider .cd-half-width {
    opacity: 0;
    transform: translateX(40px);
  }
  .cd-hero-slider .move-left .cd-half-width {
    transform: translateX(-40px);
  }
  .cd-hero-slider .selected .cd-half-width {
    /* this is the visible slide */
    opacity: 1;
    transform: translateX(0);
  }
  .cd-hero-slider .is-moving .cd-half-width {
    /* this is the slide moving outside the viewport 
    wait for the end of the transition on the <li> parent before set opacity to 0 and translate to 40px/-40px */
    transition: opacity 0s 0.5s, transform 0s 0.5s;
  }
  .cd-hero-slider li.selected.from-left .cd-half-width:nth-of-type(2),
  .cd-hero-slider li.selected.from-right .cd-half-width:first-of-type {
    /* this is the selected slide - different animation if it's entering from left or right */
    transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
  }
  .cd-hero-slider li.selected.from-left .cd-half-width:first-of-type,
  .cd-hero-slider li.selected.from-right .cd-half-width:nth-of-type(2) {
    /* this is the selected slide - different animation if it's entering from left or right */
    transition: opacity 0.4s 0.4s, transform 0.5s 0.4s;
  }
}




@media (min-width: 768px) and (max-width: 970px) { 
	
.banner{
	
	
	overflow: hidden;
	height: 220px;
	position: relative;
	
	.overlay-banner{
		position: absolute;
		background: rgba(0,0,0,0.3);
		top: 0;
		left: 0;
		width: 100%;
		height: 440px;
		z-index: -9;
	}

	img{

		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: -10;

	}

}

 }



.banner{
	
	
	overflow: hidden;
	height: 440px;
	position: relative;
	
	.overlay-banner{
		position: absolute;
		background: rgba(0,0,0,0.3);
		top: 0;
		left: 0;
		width: 100%;
		height: 440px;
		z-index: -9;
	}

	img{

		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: -10;

	}

}






